In [10]:
import yfinance as yf
import pandas as pd

In [11]:
ticker = "NVDA"
stock = yf.Ticker(ticker)

df = stock.history(period="7d")

In [12]:
df = df.loc[:, ["Close"]].reset_index().assign(Date=lambda x: x["Date"].dt.date)
df

         Date       Close
0  2025-09-30  186.580002
1  2025-10-01  187.240005
2  2025-10-02  188.889999
3  2025-10-03  187.619995
4  2025-10-06  185.539993
5  2025-10-07  185.039993
6  2025-10-08  189.110001

In [14]:
df["Daily_Return"] = round(df["Close"].pct_change() * 100, 2)
df

         Date       Close  Daily_Return
0  2025-09-30  186.580002           NaN
1  2025-10-01  187.240005          0.35
2  2025-10-02  188.889999          0.88
3  2025-10-03  187.619995         -0.67
4  2025-10-06  185.539993         -1.11
5  2025-10-07  185.039993         -0.27
6  2025-10-08  189.110001          2.20

In [1]:
from app.data_scrapper import GoogleNewsScrapper

nvda_scrapper = GoogleNewsScrapper(tick="NVDA", company_name="Nvidia")
df = nvda_scrapper.generate_dataframe()

/Users/anakin./Projects/2025/Finance_Sentiment_Analyse/Finance_Sentiment_Analyser/app/data_scrapper.py:24: FutureWarning: Parsing 'GMT' as tzlocal (dependent on system timezone) is deprecated and will raise in a future version. Pass the 'tz' keyword or call tz_localize after construction instead
  df["Date"] = pd.to_datetime(df["Date"])

In [2]:
df

,Date,Day,Source,Title,is_weekday
97,2025-10-03 13:07:17,Friday,Yahoo Finance,"Nvidia UAE Chip Deal Stalls, Testing Patience ...",True
44,2025-10-03 13:32:42,Friday,Zacks Investment Research,NVIDIA Stock Hits 52-Week High: Still Worth Ho...,True
96,2025-10-03 14:00:00,Friday,CRN Magazine,"In Response To Intel-Nvidia Deal, AMD Executiv...",True
38,2025-10-03 15:28:00,Friday,Investor's Business Daily,Nvidia Higher But Chip Deal With U.A.E. Faces ...,True
81,2025-10-03 16:01:22,Friday,NVIDIA Developer,Smarter Anomaly Detection in Semiconductor Man...,True
...,...,...,...,...,...
16,2025-10-09 23:26:11,Thursday,NVIDIA Blog,NVIDIA Blackwell Raises Bar in New InferenceMA...,True
77,2025-10-09 23:38:30,Thursday,NVIDIA Developer,NVIDIA Blackwell Leads on SemiAnalysis Inferen...,True
65,2025-10-10 00:31:00,Friday,Yahoo Finance,Nvidia CEO Jensen Huang Says He's 'Surprised' ...,True
0,2025-10-10 00:39:00,Friday,Bloomberg.com,US Approves Some Nvidia UAE Sales in Trump AI ...,True
48,2025-10-10 04:00:22,Friday,Financial Times,China launches customs crackdown on Nvidia AI ...,True

In [21]:
df["Source"] = df["Title"].apply(lambda x: x.rsplit("-",1)[1])
df["Title"] = df["Title"].apply(lambda x: x.rsplit("-",1)[0])

In [13]:
t = text.rsplit("-", 1)
t

['NVIDIA Stock Hits 52-Week High: Still Worth Holding or Book Profit? ',
 ' Zacks Investment Research']