In [10]:
import yfinance as yf
import pandas as pd

In [11]:
ticker = "NVDA"
stock = yf.Ticker(ticker)

df = stock.history(period="7d")

In [12]:
df = df.loc[:, ["Close"]].reset_index().assign(Date=lambda x: x["Date"].dt.date)
df

         Date       Close
0  2025-09-30  186.580002
1  2025-10-01  187.240005
2  2025-10-02  188.889999
3  2025-10-03  187.619995
4  2025-10-06  185.539993
5  2025-10-07  185.039993
6  2025-10-08  189.110001

In [14]:
df["Daily_Return"] = round(df["Close"].pct_change() * 100, 2)
df

         Date       Close  Daily_Return
0  2025-09-30  186.580002           NaN
1  2025-10-01  187.240005          0.35
2  2025-10-02  188.889999          0.88
3  2025-10-03  187.619995         -0.67
4  2025-10-06  185.539993         -1.11
5  2025-10-07  185.039993         -0.27
6  2025-10-08  189.110001          2.20