In [3]:
from app.data_processor import DataProcessor

In [4]:
stm = DataProcessor(tick="ROO.L", company_name="Deliveroo")
df1, df2 = stm.generate_sentiment_df()

/Users/anakin./Projects/2025/Finance_Sentiment_Analyse/Finance_Sentiment_Analyser/app/data_scrapper.py:24: FutureWarning: Parsing 'GMT' as tzlocal (dependent on system timezone) is deprecated and will raise in a future version. Pass the 'tz' keyword or call tz_localize after construction instead
  df["Date"] = pd.to_datetime(df["Date"])

Processing 0/46 batch...
Processing 20/46 batch...
Processing 40/46 batch...

In [6]:
df2

        Date        Day  STM Score  is_weekday
0 2025-10-03     Friday       0.47         1.0
1 2025-10-04   Saturday      -0.04         0.0
2 2025-10-05     Sunday       0.14         0.0
3 2025-10-06     Monday       0.10         1.0
4 2025-10-07    Tuesday      -0.17         1.0
5 2025-10-08  Wednesday       0.07         1.0
6 2025-10-09   Thursday       0.00         1.0
7 2025-10-10     Friday       0.15         1.0

In [11]:
import yfinance as yf
from app.data_scrapper import YFinanceScrapper

dl = YFinanceScrapper(tick="ADBE")
df3 = dl.fetch_stock_data()

In [12]:
df3

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-10-02 00:00:00-04:00,343.760010,351.730011,342.420013,351.480011,3955400,0.0,0.0
2025-10-03 00:00:00-04:00,352.000000,352.589996,346.309998,346.739990,3122100,0.0,0.0
2025-10-06 00:00:00-04:00,346.929993,357.339996,342.040009,350.140015,5340200,0.0,0.0
2025-10-07 00:00:00-04:00,352.589996,353.329987,344.239990,348.309998,3275500,0.0,0.0
2025-10-08 00:00:00-04:00,350.000000,354.049988,347.519989,348.769989,3285000,0.0,0.0
2025-10-09 00:00:00-04:00,349.769989,350.600006,344.299988,347.470001,2895500,0.0,0.0
2025-10-10 00:00:00-04:00,347.910004,348.720001,336.940002,337.510010,4266900,0.0,0.0