In [3]:
from app.data_processor import DataProcessor

In [4]:
stm = DataProcessor(tick="ROO.L", company_name="Deliveroo")
df1, df2 = stm.generate_sentiment_df()

/Users/anakin./Projects/2025/Finance_Sentiment_Analyse/Finance_Sentiment_Analyser/app/data_scrapper.py:24: FutureWarning: Parsing 'GMT' as tzlocal (dependent on system timezone) is deprecated and will raise in a future version. Pass the 'tz' keyword or call tz_localize after construction instead
  df["Date"] = pd.to_datetime(df["Date"])

Processing 0/46 batch...
Processing 20/46 batch...
Processing 40/46 batch...

In [6]:
df2

        Date        Day  STM Score  is_weekday
0 2025-10-03     Friday       0.47         1.0
1 2025-10-04   Saturday      -0.04         0.0
2 2025-10-05     Sunday       0.14         0.0
3 2025-10-06     Monday       0.10         1.0
4 2025-10-07    Tuesday      -0.17         1.0
5 2025-10-08  Wednesday       0.07         1.0
6 2025-10-09   Thursday       0.00         1.0
7 2025-10-10     Friday       0.15         1.0

In [9]:
import yfinance as yf
from app.data_scrapper import YFinanceScrapper

dl = YFinanceScrapper(tick="ROO.L")
df3 = dl.fetch_stock_data()

In [10]:
df3

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-10-02 00:00:00+01:00,179.800003,179.800003,179.800003,179.800003,13821877,0.0,0.0
2025-10-03 00:00:00+01:00,179.800003,179.800003,179.800003,179.800003,0,0.0,0.0